$a-c: #F63;
$body-bg-c: #000;
$form-bg-c: #CCA;
$header-bg-c: #222;
$input-bg-c: #FFF;
$nav-bg-c: #FFC;
$section-bg-c: #FFF;
$submit-btn-bg-c: #6CA;
$cancel-btn-bg-c: #C6A;

$bookmarks-ul-bg-c: #DDD;

$bookmark-front-bg-c: #FFF;
$bookmark-back-bg-c: #444;

$front-z: 600;
$back-z: 800;